

<ngx-ui-loader></ngx-ui-loader>
<div class="component-wrapper">
  <mat-card class="auth-container">
    <mat-card-subtitle>Sign in to continue.</mat-card-subtitle>

    <mat-card-content class="mt-4">
      <form class="auth-form" [formGroup]="loginGroup">
        <mat-form-field class="w-100">
          <input matInput placeholder="User Name"  formControlName="username"  autocomplete="off">
          <mat-error *ngIf="loginGroup.get('username').hasError('required')">
            User Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="w-100 mt-4">
          <input matInput type="password" placeholder="Password" formControlName="password"
            autocomplete="off">
          <mat-error *ngIf="loginGroup.get('password').hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-error class="errorBox" *ngIf="validationError">
          Could not authenticate...
        </mat-error>

      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="login()">Sign In</button>
    </mat-card-actions>
  </mat-card>
</div>
