<div class="d-flex justify-content-between align-items-center flex-nowrap p-3">
  <mat-form-field class="w-100 filter-bar"  >
    <mat-label>Service name</mat-label>
    <mat-select [(ngModel)]="selectedService" (ngModelChange)="selectedServiceChanged()">
      <mat-option *ngFor="let service of services" [value]="service">
        {{service.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="w-100 filter-bar">
    <input (input)="filterSearch($event.srcElement.value )"  matInput placeholder="Filter by keyword" class="w-100"  />
    <div matSuffix  [ngStyle]="{'background': filterRegexEnabled ? '#185cb5' : 'transparent'}"  style="border-radius: 4px" >
      <button class="btn-clean btn-sm m-0" (click)="filterRegexEnabled=!filterRegexEnabled" [ngStyle]="{'filter': filterRegexEnabled ? 'invert(1)' : 'inherit'}">
        <img src="assets/regex-icon.svg"/>
      </button>
    </div>
  </mat-form-field>
  <mat-form-field  class="w-100 filter-bar" >
    <input (input)="highlightSearch($event.srcElement.value )"   matInput placeholder="Highlight the keyword" class="w-100" />
    <div matSuffix  [ngStyle]="{'background': highlightRegexEnabled ? '#185cb5' : 'transparent'}"  style="border-radius: 4px" >
      <button class="btn-clean btn-sm m-0" (click)="highlightRegexEnabled=!highlightRegexEnabled" [ngStyle]="{'filter': highlightRegexEnabled ? 'invert(1)' : 'inherit'}">
        <img src="assets/regex-icon.svg"/>
      </button>
    </div>
  </mat-form-field >
</div>
<mat-card class="viewer-container">
  <mat-card-subtitle>

    <mat-hint *ngIf="!selectedServiceLog$">Select a service from "Service name" dropdown to view logs...</mat-hint>

  </mat-card-subtitle>

  <mat-card-content>
    <ngx-spinner [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium"> </ngx-spinner>
      <div  class="logarea w-100 " fitToScreenHeight [addHeight]="-56" [itemsToWatch]="[selectedServiceLog$, selectedService]">
      <pre class="logline"  [innerHTML]="selectedServiceLog$ | async | filterText:filterSearchString:filterRegexEnabled | highlightText:highlightSearchString:highlightRegexEnabled "></pre>
    </div>

  </mat-card-content>

</mat-card>
<button #logoutButton class="logout-button" mat-button  (click)="logout()">Sign Out</button>
