
.viewer-container{
  box-shadow: none;
}
.logarea{
  resize: none;
  width: 100%;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 3px 3px -1px;
  border : 1px solid rgb(32, 32, 32);
  overflow: scroll;

}
.logout-button{
  position: absolute;
  bottom: 16px;
  right: 16px;
  height: 28px;
  width: 205px
}
